In [1]:
import pandas as pd
import json
import os
import numpy as np
import requests
import sqlalchemy as sql
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
from dotenv import load_dotenv
from pathlib import Path
import datetime
%matplotlib inline

In [2]:
# Load the environment variables from the .env file by calling the load_dotenv function
load_dotenv()

True

In [3]:
# Set response URLs
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=USD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=USD"
ltc_url = "https://api.alternative.me/v2/ticker/Litecoin/?convert=USD"

In [4]:
# Using the Python requests library, make an API call to access the current price of BTC
btc_response = requests.get(btc_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(btc_response,indent=4,sort_keys=True))

{
    "data": {
        "1": {
            "circulating_supply": 18636693,
            "id": 1,
            "last_updated": 1614118173,
            "max_supply": 21000000,
            "name": "Bitcoin",
            "quotes": {
                "USD": {
                    "market_cap": 896707989775,
                    "percent_change_1h": -0.0369567892282653,
                    "percent_change_24h": -12.8063142554875,
                    "percent_change_7d": 0.315094591235225,
                    "percentage_change_1h": -0.0369567892282653,
                    "percentage_change_24h": -12.8063142554875,
                    "percentage_change_7d": 0.315094591235225,
                    "price": 48049.0,
                    "volume_24h": 115357184231
                }
            },
            "rank": 1,
            "symbol": "BTC",
            "total_supply": 18636693,
            "website_slug": "bitcoin"
        }
    },
    "metadata": {
        "error": null,
        "num_cryptocurrencies": 1362,
        "timestamp": 1614118173
    }
}

In [5]:
# Using the Python requests library, make an API call to access the current price ETH
eth_response = requests.get(eth_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(eth_response,indent=4,sort_keys=True))

{
    "data": {
        "1027": {
            "circulating_supply": 114794570,
            "id": 1027,
            "last_updated": 1614118137,
            "max_supply": 0,
            "name": "Ethereum",
            "quotes": {
                "USD": {
                    "market_cap": 176802770051,
                    "percent_change_1h": -0.451008979176679,
                    "percent_change_24h": -14.3914918655061,
                    "percent_change_7d": -13.4109806925901,
                    "percentage_change_1h": -0.451008979176679,
                    "percentage_change_24h": -14.3914918655061,
                    "percentage_change_7d": -13.4109806925901,
                    "price": 1537.61,
                    "volume_24h": 62005456343
                }
            },
            "rank": 2,
            "symbol": "ETH",
            "total_supply": 114794570,
            "website_slug": "ethereum"
        }
    },
    "metadata": {
        "error": null,
        "num_cryptocurrencies": 1362,
        "timestamp": 1614118137
    }
}

In [6]:
# Using the Python requests library, make an API call to access the current price LTC
ltc_response = requests.get(ltc_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(ltc_response,indent=4,sort_keys=True))

{
    "data": {
        "2": {
            "circulating_supply": 66541665,
            "id": 2,
            "last_updated": 1614118020,
            "max_supply": 84000000,
            "name": "Litecoin",
            "quotes": {
                "USD": {
                    "market_cap": 11545940941,
                    "percent_change_1h": 0.742939637018506,
                    "percent_change_24h": -17.5143815177186,
                    "percent_change_7d": -16.3383872432488,
                    "percentage_change_1h": 0.742939637018506,
                    "percentage_change_24h": -17.5143815177186,
                    "percentage_change_7d": -16.3383872432488,
                    "price": 173.55,
                    "volume_24h": 11799698294
                }
            },
            "rank": 8,
            "symbol": "LTC",
            "total_supply": 66541665,
            "website_slug": "litecoin"
        }
    },
    "metadata": {
        "error": null,
        "num_cryptocurrencies": 1362,
        "timestamp": 1614118020
    }
}

In [7]:
# Navigate the BTC response object to access the current price of BTC
btc_price = btc_response['data']['1']['quotes']['USD']['price']

In [8]:
# Navigate the ETH response object to access the current price of ETH
eth_price = eth_response['data']['1027']['quotes']['USD']['price']

In [9]:
# Navigate the LTC response object to access the current price of LTC
ltc_price = ltc_response['data']['2']['quotes']['USD']['price']

In [10]:
# remember to update date
today_date = str(datetime.datetime.now()).split()[0]
one_year_ago = str(datetime.datetime.now() - datetime.timedelta(days=1*365)).split()[0]
three_year_ago = str(datetime.datetime.now() - datetime.timedelta(days=3*365)).split()[0]
str(datetime.datetime.now()).split(" ")[0]
# Format current date as ISO format
today = pd.Timestamp(today_date, tz="America/New_York").isoformat()
today
# Format start and end dates as ISO format for one year period
start = pd.Timestamp(one_year_ago, tz="America/New_York").isoformat()
end = pd.Timestamp(today_date, tz="America/New_York").isoformat()
# Included for example
# # Get closing prices for FB and TWTR from the last year
# df_portfolio_year = alpaca.get_barset(
#     tickers,
#     timeframe,
#     start = start,
#     end = end
# ).df

In [11]:
# Set the variables for the Alpaca API and secret keys
alpaca_api_key = os.getenv('ALPACA_API_KEY')
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY')

# Create the Alpaca tradeapi.REST object
alpaca = tradeapi.REST(alpaca_api_key,alpaca_secret_key,api_version='v2')
display(type(alpaca_api_key)) # test to make sure api key imported successfully, str indicates import successful
display(type(alpaca_secret_key)) # test to make sure api key imported successfully, str indicates import successful

str

str

In [12]:
# # Set the tickers to be used
# large_company_stocks=['QQQ']

# medium_company_stocks=['ARKK']

# small_company_stocks=[
# 'XSTLA',
# 'CLF',
# 'MSTR',
# 'NEO',
# 'DDD',
# 'OMCL']

# bonds = ['AGG']

In [13]:
tickers = ['AGG','QQQ']

# Set timeframe to 1D 
timeframe = '1D'

# Format current date as ISO format
# Set both the start and end date at the date of your prior weekday 
# This will give you the closing price of the previous trading day
start_date = pd.Timestamp('2016-02-19',tz='America/New_York').isoformat() # remember to update date
end_date = pd.Timestamp('2021-02-19',tz='America/New_York').isoformat() # remember to update date

In [14]:
# Use the Alpaca get_barset function to get current closing prices the portfolio
# Be sure to set the `df` property after the function to format the response object as a DataFrame
prices_df = alpaca.get_barset(tickers,timeframe,start=start_date,end=end_date).df

# Review the first 5 rows of the Alpaca DataFrame
prices_df.head()

                              AGG                                         QQQ  \
                             open    high       low   close   volume     open
2020-09-28 00:00:00-04:00  118.18  118.22  118.1100  118.20  5318716  276.615
2020-09-29 00:00:00-04:00  118.28  118.33  118.2100  118.23  3982030  276.720
2020-09-30 00:00:00-04:00  118.26  118.26  117.9516  118.07  5314447  276.090
2020-10-01 00:00:00-04:00  117.81  118.04  117.7500  117.99  9555596  281.800
2020-10-02 00:00:00-04:00  118.03  118.04  117.8100  117.92  5367665  276.010


                               high       low   close    volume
2020-09-28 00:00:00-04:00  277.0400  271.6740  277.03  51184391
2020-09-29 00:00:00-04:00  277.7100  275.3719  275.86  23686706
2020-09-30 00:00:00-04:00  281.0900  275.8717  278.10  44849000
2020-10-01 00:00:00-04:00  282.8794  279.8400  282.26  44619187
2020-10-02 00:00:00-04:00  282.2412  273.4400  274.33  66549291

In [15]:
# Access the closing price for AGG from the Alpaca DataFrame
# Converting the value to a floating point number
# agg_close_price = prices_df['AGG']['close'].item()

In [16]:
# Access the closing price for SPY from the Alpaca DataFrame
# Converting the value to a floating point number
# spy_close_price = prices_df['SPY']['close'].item()

In [17]:
# Access the closing price for QQQ from the Alpaca DataFrame
# Converting the value to a floating point number
# qqq_close_price = prices_df['QQQ']['close'].item()

In [18]:
# Access the closing price for ARKK from the Alpaca DataFrame
# Converting the value to a floating point number
# arkk_close_price = prices_df['ARKK']['close'].item()

In [19]:
# Access the closing price for O from the Alpaca DataFrame
# Converting the value to a floating point number
# o_close_price = prices_df['O']['close'].item()

In [20]:
# Access the closing price for VNQ from the Alpaca DataFrame
# Converting the value to a floating point number
# vnq_close_price = prices_df['VNQ']['close'].item()
# print(vnq_close_price)

In [21]:
# Get user info
user_info = pd.read_csv(Path('data/user_info.csv'))

In [22]:
# Start to build portfolio options
user_info

,current_age,yearly_retirement_income,retirement_age,current_savings,retirement_goal,portfolio_allocation
0,23,50000,65,500000,1250000,"[0.0, 0.7, 0.3]"

In [23]:
age = user_info['current_age']

In [24]:
# Calculate the % of the portfolio that will be allocated to stocks based on user age if the user doesn't want crypto
user_info.loc[:,'portfolio_allocation'] = user_info.loc[:,'portfolio_allocation'].str.replace("'","")
portfolio_allocation = str(user_info['portfolio_allocation'])
print(portfolio_allocation)

0    [0.0, 0.7, 0.3]
Name: portfolio_allocation, dtype: object

In [25]:
# Calculate the % of the portfolio that will be allocated to stocks based on user age if the user does want crypto
if portfolio_allocation == '0    [0.0, 0.7, 0.3]' or '0    [0.2,0.6,0.2]' or '0    [0.4,0.4,0.2]' or '0    [0.5,0.4,0.1]' or '0    [0.7,0.2,0.1]':
    percent_bonds = portfolio_allocation[7:9]
else:
    percent_bonds = portfolio_allocation[6:8]
print(percent_bonds)

.0

In [26]:
if portfolio_allocation == '0    [0.0, 0.7, 0.3]' or '0    [0.2,0.6,0.2]' or '0    [0.4,0.4,0.2]' or '0    [0.5,0.4,0.1]' or '0    [0.7,0.2,0.1]':
    percent_stocks = portfolio_allocation[12:14]
else:
    percent_stocks = portfolio_allocation[10:12]
print(percent_stocks)

.7

In [27]:
if portfolio_allocation == '0    [0.0, 0.7, 0.3]' or '0    [0.2,0.6,0.2]' or '0    [0.4,0.4,0.2]' or '0    [0.5,0.4,0.1]' or '0    [0.7,0.2,0.1]':
    percent_crypto = portfolio_allocation[17:19]
else:
    percent_crypto = portfolio_allocation[14:16]
print(percent_crypto)

.3

In [28]:
stock_amt = float(percent_stocks)*user_info['current_savings']
stock_amt

0    350000.0
Name: current_savings, dtype: float64

In [29]:
btc_amt = float(percent_crypto)*(user_info['current_savings'])
print(btc_amt)

0    150000.0
Name: current_savings, dtype: float64

In [30]:
bond_amt = float(percent_bonds)*(user_info['current_savings'])
print(bond_amt)

0    0.0
Name: current_savings, dtype: float64

In [31]:
if float(stock_amt) > 0:
    stock_weight = (float(stock_amt)+float(bond_amt))/float(stock_amt)
else:
    stock_weight = 0
print(stock_weight)

1.0

In [32]:
if float(bond_amt) > 0:
    bond_weight = (float(bond_amt)+float(stock_amt))/float(bond_amt)
else:
    bond_weight = 0
print(bond_weight)

0

In [33]:
portfolio_weights = [bond_weight,stock_weight]
print(portfolio_weights)

[0, 1.0]

In [34]:
MC_sim = (MCSimulation(portfolio_data=prices_df,weights=portfolio_weights,num_simulation=100,num_trading_days=252*30))
MC_sim.portfolio_data.head()

                              AGG                                     \
                             open    high       low   close   volume
2020-09-28 00:00:00-04:00  118.18  118.22  118.1100  118.20  5318716
2020-09-29 00:00:00-04:00  118.28  118.33  118.2100  118.23  3982030
2020-09-30 00:00:00-04:00  118.26  118.26  117.9516  118.07  5314447
2020-10-01 00:00:00-04:00  117.81  118.04  117.7500  117.99  9555596
2020-10-02 00:00:00-04:00  118.03  118.04  117.8100  117.92  5367665

                                            QQQ                              \
                          daily_return     open      high       low   close
2020-09-28 00:00:00-04:00          NaN  276.615  277.0400  271.6740  277.03
2020-09-29 00:00:00-04:00     0.000254  276.720  277.7100  275.3719  275.86
2020-09-30 00:00:00-04:00    -0.001353  276.090  281.0900  275.8717  278.10
2020-10-01 00:00:00-04:00    -0.000678  281.800  282.8794  279.8400  282.26
2020-10-02 00:00:00-04:00    -0.000593  276.010  282.2412  273.4400  274.33


                             volume daily_return
2020-09-28 00:00:00-04:00  51184391          NaN
2020-09-29 00:00:00-04:00  23686706    -0.004223
2020-09-30 00:00:00-04:00  44849000     0.008120
2020-10-01 00:00:00-04:00  44619187     0.014959
2020-10-02 00:00:00-04:00  66549291    -0.028095

In [35]:
MC_sim.calc_cumulative_return()

Running Monte Carlo simulation number 0.
Running Monte Carlo simulation number 10.
Running Monte Carlo simulation number 20.
Running Monte Carlo simulation number 30.
Running Monte Carlo simulation number 40.
Running Monte Carlo simulation number 50.
Running Monte Carlo simulation number 60.
Running Monte Carlo simulation number 70.
Running Monte Carlo simulation number 80.
Running Monte Carlo simulation number 90.

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,...,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000
1,1.009446e+00,1.008586,9.991105e-01,1.017837e+00,9.906873e-01,1.022143e+00,1.025539e+00,0.994530,1.007579,1.008785,...,9.959394e-01,0.988641,1.045812,1.012149,0.999585,1.009797,1.006926e+00,1.024940,1.008565,1.012944
2,9.976953e-01,0.977839,1.006303e+00,1.025290e+00,9.883338e-01,1.024035e+00,1.022296e+00,0.996048,1.018947,1.002215,...,1.002130e+00,0.998868,1.032905,1.028452,1.010027,1.022807,1.006880e+00,1.028679,1.015981,1.006873
3,9.942071e-01,0.969427,9.899567e-01,1.028177e+00,9.849822e-01,1.047612e+00,1.009615e+00,0.994793,1.035940,0.991929,...,9.991616e-01,0.991526,1.039526,1.021422,1.018394,1.023778,9.835510e-01,1.048869,1.017563,0.980437
4,9.947037e-01,0.993167,9.919610e-01,1.021989e+00,9.826287e-01,1.029327e+00,1.025803e+00,0.994592,1.040619,0.988217,...,1.007782e+00,0.997064,1.026942,1.002590,1.024921,1.026470,9.977759e-01,1.028763,1.025690,0.992791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7556,2.034631e+06,200948.698617,4.222059e+06,3.076739e+06,1.406205e+06,1.237770e+06,9.909782e+05,476346.464568,430874.915368,442430.782561,...,1.086233e+06,323181.354315,68289.725244,339113.256485,237739.522250,116309.190587,1.147424e+06,695859.831367,551035.109334,371787.534613
7557,2.007730e+06,200567.832855,4.333505e+06,3.071753e+06,1.406541e+06,1.230249e+06,9.944185e+05,473306.143169,431780.786232,448588.007863,...,1.107308e+06,313658.843477,69157.395388,340904.158178,242870.878678,115864.353257,1.143012e+06,685133.190542,562370.459071,361211.392620
7558,2.012939e+06,203523.185938,4.296265e+06,3.131738e+06,1.440449e+06,1.214600e+06,9.915220e+05,463736.926683,431229.887730,454204.316995,...,1.133664e+06,318275.957367,69268.090465,336880.010818,241585.299575,117870.180946,1.162722e+06,696285.923650,568325.327361,360383.849997
7559,2.040368e+06,198230.892533,4.325239e+06,3.201816e+06,1.449303e+06,1.210023e+06,1.000835e+06,472495.379189,434465.986563,461673.517746,...,1.137035e+06,317503.779167,69946.414502,336773.264823,247439.892472,115218.569233,1.164859e+06,706321.017173,581943.164114,362321.132207
7560,2.019996e+06,198263.403790,4.299648e+06,3.147780e+06,1.446498e+06,1.216643e+06,1.003962e+06,474934.375772,440365.602291,455253.957780,...,1.124258e+06,321738.778804,69163.122781,335187.493548,247634.030959,115878.920565,1.162946e+06,720706.962579,597716.127728,358858.232822

In [36]:
cumulative_returns = MC_sim.summarize_cumulative_return()
print(cumulative_returns)

count           1.000000e+02
mean            1.690104e+06
std             2.776959e+06
min             1.479502e+04
25%             3.814204e+05
50%             7.210497e+05
75%             1.855950e+06
max             1.677908e+07
95% CI Lower    8.953809e+04
95% CI Upper    1.083174e+07
Name: 7560, dtype: float64

In [37]:
prices_df

                                AGG                                     \
                               open    high       low   close   volume
2020-09-28 00:00:00-04:00  118.1800  118.22  118.1100  118.20  5318716
2020-09-29 00:00:00-04:00  118.2800  118.33  118.2100  118.23  3982030
2020-09-30 00:00:00-04:00  118.2600  118.26  117.9516  118.07  5314447
2020-10-01 00:00:00-04:00  117.8100  118.04  117.7500  117.99  9555596
2020-10-02 00:00:00-04:00  118.0300  118.04  117.8100  117.92  5367665
...                             ...     ...       ...     ...      ...
2021-02-12 00:00:00-05:00  116.6700  116.74  116.5418  116.58  3209765
2021-02-16 00:00:00-05:00  116.2200  116.23  116.0200  116.03  5543350
2021-02-17 00:00:00-05:00  116.2200  116.29  116.1450  116.28  6038386
2021-02-18 00:00:00-05:00  116.1400  116.28  116.0300  116.20  3910324
2021-02-19 00:00:00-05:00  116.0187  116.06  115.7515  115.83  4416681

                               QQQ
                              open      high       low    close    volume
2020-09-28 00:00:00-04:00  276.615  277.0400  271.6740  277.030  51184391
2020-09-29 00:00:00-04:00  276.720  277.7100  275.3719  275.860  23686706
2020-09-30 00:00:00-04:00  276.090  281.0900  275.8717  278.100  44849000
2020-10-01 00:00:00-04:00  281.800  282.8794  279.8400  282.260  44619187
2020-10-02 00:00:00-04:00  276.010  282.2412  273.4400  274.330  66549291
...                            ...       ...       ...      ...       ...
2021-02-12 00:00:00-05:00  333.710  336.6200  332.6300  336.455  18450250
2021-02-16 00:00:00-05:00  337.270  338.1900  334.3400  335.510  24387052
2021-02-17 00:00:00-05:00  332.470  335.6570  330.1700  333.940  28492624
2021-02-18 00:00:00-05:00  330.230  333.8661  328.3600  332.440  28750896
2021-02-19 00:00:00-05:00  333.860  333.9900  329.9700  331.040  36173201

[100 rows x 10 columns]

In [38]:
qqq_close = prices_df['QQQ']['close']

In [39]:
stock_daily_returns = qqq_close.pct_change().dropna()

In [40]:
stock_cumulative_returns = (1 + stock_daily_returns).cumprod()

In [41]:
stock_std_dev = stock_cumulative_returns.std()
stock_std_dev

0.06619335921500948

In [42]:
annualized_stock_std_dev = stock_std_dev * np.sqrt(252)
annualized_stock_std_dev

1.0507870015612844

In [43]:
avg_annual_stock_returns = stock_daily_returns.mean()*252
avg_annual_stock_returns

0.475475286731655

In [44]:
stock_sharpe_ratio = avg_annual_stock_returns/annualized_stock_std_dev
stock_sharpe_ratio

0.45249445037403635

In [45]:
agg_close = prices_df['AGG']['close']

In [46]:
bond_daily_returns = agg_close.pct_change().dropna()

In [47]:
bond_cumulative_returns = (1 + bond_daily_returns).cumprod()

In [48]:
bond_std_dev = bond_cumulative_returns.std()
bond_std_dev

0.004332105541455871

In [49]:
annualized_bond_std_dev = bond_std_dev * np.sqrt(252)
annualized_bond_std_dev

0.0687700434958623

In [50]:
avg_annual_bond_returns = bond_daily_returns.mean()*252
avg_annual_bond_returns

-0.05115421454294733

In [51]:
bond_sharpe_ratio = avg_annual_bond_returns/annualized_bond_std_dev
bond_sharpe_ratio

-0.7438444407269443

In [52]:
portfolio_sharpe_ratio = (stock_weight*stock_sharpe_ratio)+(bond_weight*bond_sharpe_ratio)
portfolio_sharpe_ratio

0.45249445037403635

In [53]:
btc_price

48049.0

In [54]:
btc_owned = btc_price/btc_amt
print(btc_owned)

0    0.320327
Name: current_savings, dtype: float64